/* CSS Document */
@font-face {
	font-family:star;
	src:url(../star.eot);
	src:url(../star.eot#iefix) format("embedded-opentype"), url(../fonts/star.woff) format("woff"), url(../fonts/star.ttf) format("truetype"), url(../img/star.svg#star) format("svg");
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family:WooCommerce;
	src:url(../WooCommerce.eot);
	src:url(../WooCommerce.eot#iefix) format("embedded-opentype"), url(../fonts/WooCommerce.woff) format("woff"), url(../fonts/WooCommerce.ttf) format("truetype"), url(../img/WooCommerce.svg#WooCommerce) format("svg");
	font-weight:400;
	font-style:normal
}